// ==========================================================================
// BORDERS
// ==========================================================================
//
// Coloured borders
//

.border--pink--dark {
    border-color: #B695B6;
}

.border--green {
    border-color: #6AF169;
}

.border--orange--dark {
    border-color: #E46A68;
}

.border--grey {
    border-color: #95B5B4;
}

.border--orange {
    border-color: #FDAA63;
}

.border--pink {
    border-color: #FDC2FD;
}

.border--yellow {
    border-color: #FDFF22;
}

